@font-face {
  font-family: "QuickSand";
  src: local("QuickSand"),
    url(../fonts/Quicksand/Quicksand.ttf) format("truetype");
}

body {
  margin: 0;
}

.link {
  position: fixed;
  padding: 10px;
}

a {
  color: black;
  font-family: "QuickSand";
  font-size: 10px;
}

.hero-mobile {
  width: 100vw;
}

.hidden-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  a {
    font-size: 15px;
  }
  .link {
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  a {
    font-size: 20px;
  }

  .link {
    padding: 20px;
  }

  .hero-desktop {
    width: 100vw;
  }
  .hidden-desktop {
    display: none;
  }

  .hidden-mobile {
    display: block;
  }
}
