@font-face {
  font-family: "QuickSand";
  src: local("QuickSand"),
    url(../fonts/Quicksand/Quicksand.ttf) format("truetype");
}

body {
  margin: 0;
}

.hero {
  background-image: url("../images/hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px;
}

a {
  color: black;
  font-family: "QuickSand";
  font-size: small;
}

@media only screen and (min-width: 500px) {
  .hero {
    background-size: contain;
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    background-image: url("../images/hero-desktop.jpg");
    padding: 25px;
    background-size: cover;
    background-position: left;
  }
  a {
    font-size: 30px;
    background-position: center;
  }
}
